# Maven build directory
target/

# Maven build helper files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Maven Wrapper JAR
.mvn/wrapper/maven-wrapper.jar

# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*

# OS-specific junk
.DS_Store
Thumbs.db

# IDE project files (uncomment as necessary)
# IntelliJ
.idea/
*.iml
# VS Code
.vscode/
# Eclipse
.classpath
.project
.settings/

# Temporary files
*.tmp
